@()(implicit request: MessagesRequestHeader)

  <h2>Clearing the colours</h2>
  <ol>
    <li>After clearing all the Red-Colour pairs, move on to clearing the colours in the order stated below. </li>
    <li>The colour balls MUST be taken in the standard Snooker sequence of YELLOW, GREEN, BROWN, BLUE, PINK and finally the BLACK to score.
      If any colour balls are taken out of order, they WILL NOT COUNT to your final score, nor will any subsequent colours even if these are
      in correct order.</li>
    <li>The correct order will be marked on the map to remind you. </li>
  </ol>
