

@()(implicit request: MessagesRequestHeader)

@main("Welcome to Snooker O") {
    <div class="col-8">
      <h1>What is Snooker Orienteering</h1>

      <p>Snooker O is a combination of a standard Score event with the rules of Snooker.</p>
      <p>In the main variant, a competitor must punch a 'red' control and then a 'colour' control until all the reds have been cleared.
        Then the colours need to be punched in the correct order for Snooker (Yellow, Green, Brown, Blue, Pink, Black).</p>

      <p>Of course, all this is within the time limits of a Score event so there are penalties for being late.</p>

      @rules.rulesCards()

      <br>
      <h2>Setting up</h2>

      <div>
        @helper.form(action = routes.SetupController.setupControlsDisplay) {
          <input type="submit" id="upload" value="Continue" class="btn btn-primary"/>
        }
      </div>
    </div>
}
