@import helpers.CompetitorProcessor

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

      @* Here's where we render the page title `String`. *@
      <title>@title</title>
    </head>
    <body>
      <div class="container">
        <div class="row">

          @navBar()
          @* And here's where we render the `Html` object containing
           * the page content. *@
          @content
        </div>
      </div>
    </body>
</html>
