@()(implicit request: MessagesRequestHeader)

@main("Rules of Snooker O") {
  <div class="container">
    <h1>Rules for Snooker O – Adults class</h1>
    <ol>
      <li>This is a score event with time limit of 60 minutes with punching start and punching finish. Maximum points gained in minimum time,
        adjusted by the BOF recommended age/sex handicaps values, wins overall.</li>
      <li>Lateness penalties of 20 points per minute and part minute will be deducted if you return after the maximum allowed time.</li>
      <li>The event is loosely based on the scoring format of snooker. There are 16 ‘balls’, 10 reds and six different colours.
        Red balls are worth 10 points, yellow 20, green 30, brown 40, blue 50, pink 60 and black 70. Controls representing the balls are pre-marked
        on the map in the correct colour with code and nominal points value marked adjacent.</li>
      <li>In snooker (and so for this event) the reds are cleared before the colours. However every time a red is cleared,
        a colour of your choice must follow, then another red, another colour etc. until <strong>ALL</strong> the reds are cleared.</li>
      <li>Following the last red, you must clear one more colour before moving on to the colours themselves. </li>
      <li>During the REDS collecting sequence, the choice from the six colour balls you follow each red with is up to you- however,
        as once you have been to a colour the first time, and will then know where it is located, any subsequent visit to that colour during the
        reds collecting sequence will see the points value <strong>DECREASE by 25%</strong>. For instance, the first time you visit the PINK
         it will be worth 60 points, decreasing to 45 the second time, 30 the third time, 15 the fourth – and 0 for any other visits. Once all the reds
        and last colour after the last red are cleared however all colours revert to their nominal values as above for the colours collecting sequence.</li>
      <li>You must collect every red (normally 10 in total) - duplications are invalid as would any points related to a colour collected after
        the duplicated red.  Unless your memory is good we recommend taking a pen and marking them on your map as you collect them to avoid the above
        duplication error or omitting any of them.  If you have not collected all 10 reds, no colours you subsequently collect will score;
         even if fully in correct order. </li>
      <li>If after taking a red, no colour is correctly punched before the next red, then the next red and subsequent colour will be invalid
        and no points will score for them.</li>
      <li>Following the last colour taken after the last red, you will move straight on to the colours themselves in the order stated below. </li>
      <li>The colour balls MUST be taken in the standard snooker sequence of YELLOW, GREEN, BROWN, BLUE, PINK and finally the BLACK to score.
        If any colour balls are taken out of order, they WILL NOT COUNT to your final score, nor will any subsequent colours even if these are
        in correct order. The correct order will be marked on the map to remind you. </li>
      <li>The minimum number of punches needed to clear all the balls correctly will be 26. The dibbers in use have a maximum capacity of 32 punches.
        You can therefore make one or two mispunches only or risk running out of punch capacity on your card before completion- Plan your strategy
        and punch carefully – GOOD LUCK! </li>
    </ol>

    <h1>Rules for the Under16 class</h1>
    <ol>
      <li>Collect all the red controls in any order WITHOUT PUNCHING ANY OTHER CONTROLS- this would invalidate your score! </li>
      <li>After the last red, you will move straight on to the colours themselves in the standard snooker sequence of
        YELLOW, GREEN, BROWN, BLUE, PINK and finally the BLACK to score. If any colour balls are taken out of order,
        they WILL NOT COUNT to your final score, nor will any subsequent colours even if these are in correct order.
        The correct order will be marked on the map to remind you. </li>
      <li>The time limit is 60 minutes with punching start and punching finish. Maximum points gained in minimum time wins. </li>
      <li>Lateness penalties of 20 points per minute and part minute will be deducted if you return after the maximum allowed time.</li>
    </ol>

    <h1>Rules for the Open class, essentially normal Score</h1>
    <ol>
      <li>Collect all the controls in any order you like - do not duplicate as these will not contribute to your score. </li>
      <li>The time limit is 60 minutes with punching start and punching finish. Maximum points gained in minimum time wins. </li>
      <li>Lateness penalties of 20 points per minute and part minute will be deducted if you return after the maximum allowed time. </li>
    </ol>

    <a href=@routes.HomeController.index>Back to the homepage</a>
  </div>
}
